WarehouseClient/Service References/WarehouseServiceReference/WarehouseService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WarehouseData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WarehouseData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Hangar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="tns:Area" />
      <xs:element minOccurs="0" name="AreaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxContainers" type="xs:int" />
      <xs:element minOccurs="0" name="PlacedContainers" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hangar" nillable="true" type="tns:Hangar" />
  <xs:complexType name="Area">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hangars" nillable="true" type="tns:ArrayOfHangar" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Area" nillable="true" type="tns:Area" />
  <xs:complexType name="ArrayOfHangar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hangar" nillable="true" type="tns:Hangar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHangar" nillable="true" type="tns:ArrayOfHangar" />
  <xs:complexType name="ArrayOfArea">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Area" nillable="true" type="tns:Area" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArea" nillable="true" type="tns:ArrayOfArea" />
</xs:schema>